.basket {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

@media screen and (min-width: $desktop-breakpoint) {
  .basket {
    grid-area: basket;
    row-gap: 40px;
  }
}
