.basket {
    list-style: none;
    margin: 0;
    padding: 0;



    &__card {
        padding-top: 40px;
    }

    &__title {
        font-size: 22px;
        line-height: 32px;
        font-weight: 700;
        color: black;
    }

    &__subtitle {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (min-width: $desktop-breakpoint) {
    .basket {
        grid-area: basket;
    }
}