.gifts {
  margin-top: 16px;

  &__heading {
    color: $dark-text;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .gifts {
    grid-area: gifts;
    margin-top: 24px;

    &__heading {
      font-size: 30px;
      line-height: 44px;
      margin-bottom: 40px;
    }
  }
}
