.order {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: $desktop-breakpoint) {
  .order {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "basket promo"
      "gifts promo"
      "recomendations recomendations"
      "total total";
    gap: 40px;
  }
}
