.order-card {
  border: none;
  height: 60px;
  background-color: rgb(20, 201, 207);
  border-radius: unset;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 40px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 4px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.16);
  position: relative;

  &__image {
    width: 150px;
    height: 60px;
    object-fit: cover;
  }

  &__sticker {
    display: none;
  }

  &__description {
    position: absolute;
    width: 320px;
    height: 60px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__heading {
    margin: 0;
    color: white;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  &__text-block {
    display: none;
  }

  &__cls-btn {
    display: none;
    width: 24px;
    height: 24px;
    background-image: url(../../../vendor/images/cls-btn.svg);
    cursor: pointer;
  }

  &__panel {
    display: flex;
    column-gap: 16px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  &__buttons {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: $gray-text;
    text-align: center;
  }

  &__btn {
    border-top: 2px solid $braun;
    border-bottom: 2px solid $braun;
    background-color: white;
    color: $gray-text;
    width: 26px;
    height: 32px;
  }

  &__btn_minus {
    border-right: none;
    border-left: 2px solid $braun;
    border-radius: 30px 0 0 30px;
    padding-left: 8px;
    padding-right: 0;
  }

  &__btn_plus {
    border-left: none;
    border-right: 2px solid $braun;
    border-radius: 0 30px 30px 0;
    padding-left: 0;
  }

  &__values-column {
    &_prices {
      display: none;
    }

    &_sums {
      display: flex;
    }

    flex-direction: column;
    justify-content: center;
  }

  &__value {
    text-align: right;
  }

  &__value_old {
    color: $pale-gray;
  }

  &__value_new {
    color: $dark-text;
  }

  &__display {
    width: 36px;
    height: 32px;
    background-color: white;
    border: 2px solid $braun;
    text-align: center;
    color: $gray-text;
    font-weight: 500;
    outline: none;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .order-card {
    height: auto;
    min-height: 215px;
    background-color: $f1-gray;
    border-radius: 8px;
    box-shadow: none;
    position: static;

    &__image {
      width: 185px;
      height: 215px;
    }

    &__sticker {
      display: block;
    }

    &__description {
      width: auto;
      height: auto;
      position: static;
      flex-grow: 1;
      padding: 20px 16px 0 0;
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
    }

    &__heading {
      color: $dark-text;
      margin-bottom: 10px;
      font-size: 22px;
      line-height: 32px;
      font-weight: 700;
    }

    &__cls-btn {
      display: block;
    }

    &__text-block {
      display: block;
    }

    &__panel {
      align-self: flex-end;
      margin: 24px 0 5px;
      display: flex;
      column-gap: 16px;
      font-size: 18px;
      line-height: 24px;
    }

    &__buttons {
      font-size: 18px;
    }

    &__btn {
      width: 40px;
      height: 48px;
    }

    &__values-column {
      &_prices {
        display: flex;
      }
    }

    &__display {
      width: 52px;
      height: 48px;
    }
  }
}
