.order {
  display: flex;
  flex-direction: column;

  &__heading {
    margin: 0;
    color: $dark-text;
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .order {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "status-bar status-bar"
      "basket promo";
    gap: 40px;
  }
}
