.promo {
  max-width: 412px;
  align-self: center;
  padding: 32px 16px 64px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  row-gap: 32px;

  &__heading {
    font-size: 18px;
    line-height: 24px;
    text-align: right;
  }

  &__paragraph {
    margin-top: 13px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__input {
    color: $gray-text;
    height: 40px;
    padding-left: 18px;
    letter-spacing: 0.08em;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 30px;
  }

  &__apply-btn {
    align-self: flex-end;
    width: 140px;
    height: 40px;
    color: $braun;
    background-color: white;
    border: 2px solid $braun;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 4px rgba(0, 0, 0, 0.16),
      0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 40px;
  }

  &__sum {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 0;
    text-align: right;
  }

  &__old-price {
    color: $pale-gray;
    text-decoration: line-through;
  }

  &__dark-text {
    color: $dark-text;
  }

  &__next-btn {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    margin-top: -8px;  
    height: 48px;
    color: white;
    background-color: $braun;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.16),
      0px 4px 6px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 40px;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .promo {
    align-self: flex-start;
    padding: 40px;
    row-gap: 40px;
    grid-area: promo;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.16),
      0px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 8px;

    &__heading {
      text-align: left;
    }

    &__apply-btn {
      width: 160px;
    }

    &__sum {
      font-size: 18px;
      text-align: left;
    }

    &__next-btn {
      margin-top: 0;
      height: 64px;
    }
  }
}