.recomendations {
  display: none;
}

@media screen and (min-width: $desktop-breakpoint) {
  .recomendations {
    grid-area: recomendations;
    display: block;
    margin: 24px -120px 0;
    overflow-x: auto;
  
    &__heading {
      color: $dark-text;
      font-size: 30px;
      line-height: 44px;
      font-weight: 700;
      margin: 0 0 40px 120px;
    }

    &__slider-card:first-of-type {
      margin-left: 120px;
    }
  }
}
