.status-bar {
  overflow-x: hidden;
  display: flex;

  &__list {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    color: $pale-gray;

    &_done {
      color: black;
    }
  }

  &__text {
    display: inline-block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }

  &__delimiter {
    width: 20px;
    margin: 8px;
    border-bottom: 2px dotted;
    display: inline-block;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .status-bar {
    &__text {
      font-size: 30px;
      line-height: 44px;
    }

    &__delimiter {
      width: 150px;
      margin: 0 20px 8px;
      border-bottom: 4px dotted;
    }
  }
}
