.submit-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-top: -8px;  
  height: 48px;
  color: white;
  background-color: $braun;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.16),
    0px 4px 6px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 40px;

  &:active {
    box-shadow: none;
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .submit-btn {
    margin-top: 0;
    height: 64px;
  }
}