.total {
  display: none;
}

@media screen and (min-width: $desktop-breakpoint) {
  .total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 32px;
    margin-bottom: 70px;
  
    &__hr {
      width: 100%;
      height: 2px !important;
      color: $hr;
      opacity: 1;
    }
  
    &__next-btn {
      padding: 20px 138px;
    }
  }
}