@font-face {
    font-family: 'Roboto-Slab';
    src: url(../../fonts/RobotoSlab-Regular.woff2) format("woff2"),
        url(../../fonts/RobotoSlab-Regular.woff) format("woff"),
        url(../../fonts/RobotoSlab-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto-Slab';
    src: url(../../fonts/RobotoSlab-Medium.woff2) format("woff2"),
        url(../../fonts/RobotoSlab-Medium.woff) format("woff"),
        url(../../fonts/RobotoSlab-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto-Slab';
    src: url(../../fonts/RobotoSlab-Bold.woff2) format("woff2"),
        url(../../fonts/RobotoSlab-Bold.woff) format("woff"),
        url(../../fonts/RobotoSlab-Bold.ttf) format("truetype");
    font-weight: 700;
}
