$desktop-breakpoint: 992px;
$braun: #cc693e;
$footer-bg: #1a1a1a;
$dark-text: #333;
$gray-text: #666;
$hr: #b3b3b3;
$pale-gray: #ccc;
$f1-gray: #f1f1f1;
$sticker-red: #e30029;
$sticker-yellow: #ffe600;
$slider-hide-scroll: 60px;