@font-face {
  font-family: "Roboto-Slab";
  src: url(../../vendor/fonts/RobotoSlab-Regular.woff2) format("woff2"), url(../../vendor/fonts/RobotoSlab-Regular.woff) format("woff"), url(../../vendor/fonts/RobotoSlab-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto-Slab";
  src: url(../../vendor/fonts/RobotoSlab-Medium.woff2) format("woff2"), url(../../vendor/fonts/RobotoSlab-Medium.woff) format("woff"), url(../../vendor/fonts/RobotoSlab-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto-Slab";
  src: url(../../vendor/fonts/RobotoSlab-Bold.woff2) format("woff2"), url(../../vendor/fonts/RobotoSlab-Bold.woff) format("woff"), url(../../vendor/fonts/RobotoSlab-Bold.ttf) format("truetype");
  font-weight: 700;
}
.page {
  font-family: "Roboto-Slab", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #666;
}

@media screen and (min-width: 992px) {
  .page {
    font-size: 14px;
    line-height: 20px;
  }
}
.section-container {
  padding: 0;
}

.text-block {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666;
}

@media screen and (min-width: 992px) {
  .text-block {
    font-size: 14px;
    line-height: 20px;
  }
}
.rub {
  font-family: sans-serif;
}

.image-wrapper {
  position: relative;
}

.sticker {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 7px 16px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 16px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.24), 0px 6px 16px rgba(0, 0, 0, 0.32);
}
.sticker_new {
  color: white;
  text-transform: uppercase;
  background-color: #e30029;
}
.sticker_gift {
  color: #333;
  background-color: #ffe600;
}

.header__logo {
  display: block;
  width: 145px;
  height: 45px;
  margin-right: 32px;
}
.header__burger {
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(../../../vendor/images/burger.svg);
  color: black !important;
}
.header__nav-list {
  justify-content: space-evenly;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .header {
    padding-top: 20px;
  }
  .header__logo {
    width: 225px;
    height: 70px;
  }
}
.point__description {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.point__city {
  color: #cc693e;
}
.point__tel {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: black !important;
}
.point__geo {
  margin-right: 5px;
}

@media screen and (min-width: 992px) {
  .main {
    padding-top: 72px;
  }
}
.info {
  display: flex;
  column-gap: 8px;
  justify-content: space-between;
  margin-bottom: 36px;
}
.info__btn {
  height: 40px;
  border: none;
}
.info__btn_left {
  border-radius: 0 25px 25px 0;
}
.info__btn_center {
  border-radius: 25px;
}
.info__btn_right {
  border-radius: 25px 0 0 25px;
}
.info__btn_phone {
  background-color: #333;
  flex-grow: 0.8;
}
.info__btn_geo {
  background-color: #333;
  flex-grow: 1;
}
.info__btn_dude {
  background-color: #333;
  flex-grow: 1;
}
.info__btn_sum {
  background-color: #cc693e;
  color: white;
  flex-grow: 1.5;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

@media screen and (min-width: 992px) {
  .info {
    display: none;
  }
}
.order {
  display: flex;
  flex-direction: column;
}
.order__heading {
  margin: 0 0 10px;
  color: #333;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
}

@media screen and (min-width: 992px) {
  .order {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "status-bar status-bar" "basket promo" "gifts promo";
    gap: 40px;
  }
}
.status-bar {
  overflow-x: hidden;
  display: flex;
}
.status-bar__list {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.status-bar__item {
  display: inline-block;
  color: #ccc;
}
.status-bar__item_done {
  color: black;
}
.status-bar__heading {
  display: inline-block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.status-bar__delimiter {
  width: 20px;
  margin: 8px;
  border-bottom: 2px dotted;
  display: inline-block;
}

@media screen and (min-width: 400px) {
  .status-bar__delimiter {
    width: 75px;
  }
}
@media screen and (min-width: 992px) {
  .status-bar {
    grid-area: status-bar;
  }
  .status-bar__heading {
    font-size: 30px;
    line-height: 44px;
  }
  .status-bar__delimiter {
    width: 150px;
    margin: 0 20px 8px;
    border-bottom-width: 4px;
  }
}
.basket {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .basket {
    grid-area: basket;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
}
.order-card {
  border: none;
  min-height: 215px;
  background-color: #f1f1f1;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 40px;
}
.order-card__image {
  width: 185px;
  height: 215px;
  object-fit: cover;
}
.order-card__description {
  flex-grow: 1;
  padding: 20px 16px 0 0;
  display: flex;
  flex-direction: column;
}
.order-card__title {
  display: flex;
  justify-content: space-between;
}
.order-card__cls-btn {
  width: 24px;
  height: 24px;
  background-image: url(../../../vendor/images/cls-btn.svg);
  cursor: pointer;
}
.order-card__panel {
  align-self: flex-end;
  margin: 24px 0 5px;
  display: flex;
  column-gap: 16px;
}
.order-card__buttons {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.order-card__btn {
  border-top: 2px solid #cc693e;
  border-bottom: 2px solid #cc693e;
  background-color: white;
  color: #666;
  width: 40px;
}
.order-card__btn_minus {
  border-right: none;
  border-left: 2px solid #cc693e;
  border-radius: 30px 0 0 30px;
  padding-left: 8px;
  padding-right: 0;
}
.order-card__btn_plus {
  border-left: none;
  border-right: 2px solid #cc693e;
  border-radius: 0 30px 30px 0;
  padding-left: 0;
}
.order-card__values-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.order-card__value {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: right;
}
.order-card__value_old {
  color: #ccc;
}
.order-card__value_new {
  color: #333;
}
.order-card__display {
  width: 52px;
  height: 48px;
  background-color: white;
  border: 2px solid #cc693e;
  padding-top: 10px;
}

.card:last-of-type {
  margin-bottom: 0;
}

.gifts {
  margin-top: 16px;
}
.gifts__heading {
  color: #333;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}

@media screen and (min-width: 992px) {
  .gifts {
    grid-area: gifts;
    margin-top: 24px;
  }
  .gifts__heading {
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 40px;
  }
}
.promo {
  max-width: 412px;
  align-self: center;
  padding: 32px 16px 64px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  row-gap: 32px;
}
.promo__heading {
  font-size: 18px;
  line-height: 24px;
  text-align: right;
}
.promo__paragraph {
  margin-top: 13px;
}
.promo__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.promo__input {
  color: #666;
  height: 40px;
  padding-left: 18px;
  letter-spacing: 0.08em;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
.promo__apply-btn {
  align-self: flex-end;
  width: 140px;
  height: 40px;
  color: #cc693e;
  background-color: white;
  border: 2px solid #cc693e;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 4px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 40px;
}
.promo__sum {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 0;
  text-align: right;
}
.promo__old-price {
  color: #ccc;
  text-decoration: line-through;
}
.promo__dark-text {
  color: #333;
}
.promo__next-btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-top: -8px;
  height: 48px;
  color: white;
  background-color: #cc693e;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.16), 0px 4px 6px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 40px;
}

@media screen and (min-width: 992px) {
  .promo {
    align-self: flex-start;
    padding: 40px;
    row-gap: 40px;
    grid-area: promo;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.16), 0px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
  }
  .promo__heading {
    text-align: left;
  }
  .promo__apply-btn {
    width: 160px;
  }
  .promo__sum {
    font-size: 18px;
    text-align: left;
  }
  .promo__next-btn {
    margin-top: 0;
    height: 64px;
  }
}
.recomendations {
  display: none;
}

@media screen and (min-width: 992px) {
  .recomendations {
    display: block;
    margin-top: 64px;
  }
  .recomendations__heading {
    color: #333;
    font-size: 30px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 40px;
  }
}
.slider {
  margin: 0;
  padding: 0 0 50px;
  list-style: none;
  display: flex;
  column-gap: 16px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.slider-card {
  flex-shrink: 0;
  width: 298px;
  height: fit-content;
  background-color: #f1f1f1;
  border-radius: 8px;
  overflow: hidden;
}
.slider-card__image {
  width: 298px;
  height: 198px;
  object-fit: cover;
}
.slider-card__description {
  padding: 16px;
}
.slider-card__heading {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: black;
}
.slider-card__btn {
  padding: 8px 32px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  margin: 16px 0 0 auto;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25)) drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.16)) drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.16));
  border: 2px solid #cc693e;
  border-radius: 32px;
  color: white;
  background-color: #cc693e;
}
.slider-card__btn_from {
  color: #cc693e;
  background-color: white;
}

.total {
  display: none;
}

@media screen and (min-width: 992px) {
  .total {
    margin: -50px 0 70px;
    padding-top: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 32px;
  }
  .total__hr {
    width: 100%;
    height: 2px !important;
    color: #b3b3b3;
    opacity: 1;
  }
  .total__next-btn {
    padding: 20px 138px;
  }
}
.footer {
  background-color: #1a1a1a;
}
.footer__container {
  padding: 16px 16px 24px;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__links-block {
  display: flex;
  column-gap: 16px;
  flex-wrap: wrap;
}
.footer__links-group {
  margin: 0 0 32px;
  width: 136px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.footer__link {
  color: #f1f1f1;
  text-decoration: none;
}
.footer__link:hover {
  color: #cc693e;
}
.footer__link_contract {
  color: #cc693e;
}
.footer__link_contract:hover {
  color: #f1f1f1;
}
.footer__description {
  margin-top: 32px;
}
.footer__icons {
  display: flex;
  justify-content: flex-start;
  row-gap: 32px;
  column-gap: 32px;
  flex-wrap: wrap;
}
.footer__icon {
  height: 40px;
  object-fit: scale-down;
}
.footer__icon_visa {
  height: 28px;
  align-self: center;
}
.footer__text {
  color: #f1f1f1;
  margin: 0;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
}

@media screen and (min-width: 992px) {
  .footer__container {
    font-size: 14px;
    line-height: 20px;
    padding: 32px 0;
    flex-direction: row;
  }
  .footer__links-block {
    column-gap: 40px;
  }
  .footer__links-group {
    margin-bottom: 0;
    width: 185px;
    row-gap: 8px;
  }
  .footer__icons {
    column-gap: 16px;
  }
  .footer__text {
    font-size: 12px;
    line-height: 16px;
    text-align: right;
  }
}

/*# sourceMappingURL=index.css.map */
