@font-face {
  font-family: "Roboto-Slab";
  src: url(../../vendor/fonts/RobotoSlab-Regular.woff2) format("woff2"), url(../../vendor/fonts/RobotoSlab-Regular.woff) format("woff"), url(../../vendor/fonts/RobotoSlab-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto-Slab";
  src: url(../../vendor/fonts/RobotoSlab-Medium.woff2) format("woff2"), url(../../vendor/fonts/RobotoSlab-Medium.woff) format("woff"), url(../../vendor/fonts/RobotoSlab-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto-Slab";
  src: url(../../vendor/fonts/RobotoSlab-Bold.woff2) format("woff2"), url(../../vendor/fonts/RobotoSlab-Bold.woff) format("woff"), url(../../vendor/fonts/RobotoSlab-Bold.ttf) format("truetype");
  font-weight: 700;
}
.page {
  font-family: "Roboto-Slab", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #666;
}

@media screen and (min-width: 576px) {
  .page {
    font-size: 14px;
    line-height: 20px;
  }
}
.text-block {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666;
}

@media screen and (min-width: 576px) {
  .text-block {
    font-size: 14px;
    line-height: 20px;
  }
}
.header__logo {
  display: block;
  width: 145px;
  height: 45px;
  margin-right: 32px;
}
.header__burger {
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(../../../vendor/images/burger.svg);
  color: black !important;
}
.header__nav-list {
  justify-content: space-evenly;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .header {
    padding-top: 20px;
  }
  .header__logo {
    width: 225px;
    height: 70px;
  }
}
.point__description {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.point__city {
  color: #cc693e;
}
.point__tel {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: black !important;
}
.point__geo {
  margin-right: 5px;
}

.main {
  padding-top: 20px;
  border: 1px solid pink;
}

@media screen and (min-width: 576px) {
  .main {
    padding-top: 72px;
  }
}
.order {
  display: flex;
  flex-direction: column;
}
.order__heading {
  margin: 0;
  color: #333;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
}

@media screen and (min-width: 576px) {
  .order {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "status-bar status-bar" "basket promo";
    gap: 40px;
  }
}
.status-bar {
  overflow-x: hidden;
  display: flex;
}
.status-bar__list {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
.status-bar__item {
  display: inline-block;
  color: #ccc;
}
.status-bar__item_done {
  color: black;
}
.status-bar__heading {
  display: inline-block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.status-bar__delimiter {
  width: 20px;
  margin: 8px;
  border-bottom: 2px dotted;
  display: inline-block;
}

@media screen and (min-width: 400px) {
  .status-bar__delimiter {
    width: 75px;
  }
}
@media screen and (min-width: 576px) {
  .status-bar {
    grid-area: status-bar;
  }
  .status-bar__heading {
    font-size: 30px;
    line-height: 44px;
  }
  .status-bar__delimiter {
    width: 150px;
    margin: 0 20px 8px;
    border-bottom-width: 4px;
  }
}
.basket {
  list-style: none;
  margin: 0;
  padding: 0;
}
.basket__card {
  padding-top: 40px;
}
.basket__title {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  color: black;
}
.basket__subtitle {
  font-size: 14px;
  line-height: 20px;
}

@media screen and (min-width: 576px) {
  .basket {
    grid-area: basket;
  }
}
.promo {
  padding: 32px 16x 64px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.promo__heading {
  font-size: 18px;
  line-height: 24px;
  text-align: right;
}
.promo__paragraph {
  margin-top: 13px;
}
.promo__form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.promo__input {
  color: #666;
  height: 40px;
  padding-left: 18px;
  letter-spacing: 0.08em;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
.promo__apply-btn {
  align-self: flex-end;
  width: 140px;
  height: 40px;
  color: #cc693e;
  background-color: white;
  border: 2px solid #cc693e;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 0px 4px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 40px;
}
.promo__sum {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 0;
  text-align: right;
}
.promo__old-price {
  color: #ccc;
  text-decoration: line-through;
}
.promo__dark-text {
  color: #333;
}
.promo__rub {
  font-family: sans-serif;
}
.promo__next-btn {
  margin-top: -8px;
  height: 48px;
  color: white;
  background-color: #cc693e;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.16), 0px 4px 6px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 40px;
}

@media screen and (min-width: 576px) {
  .promo {
    grid-area: promo;
    padding: 40px;
    row-gap: 40px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.16), 0px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
  }
  .promo__heading {
    text-align: left;
  }
  .promo__apply-btn {
    width: 160px;
  }
  .promo__sum {
    font-size: 18px;
    text-align: left;
  }
  .promo__next-btn {
    margin-top: 0;
    height: 64px;
  }
}

/*# sourceMappingURL=index.css.map */
